pandas
numpy
tqdm
ndjson
gensim
scikit-learn
argparse
pdfminer
nltk
spacy
spacytextblob
networkx
nxviz
setuptools
wheel
python-Levenshtein
python_louvain
networkx
matplotlib
community
webvtt-py
pygraphviz
openpyxl
tesseract-ocr
tesseract
pytesseract
opencv-python
netgraph